<div class="container">
  <div class="row">
    <div class="col">
      <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button
            type="button"
            data-bs-target="#carouselExampleIndicators"
            [attr.data-bs-slide-to]="i"
            *ngFor="let item of discountGoods; let i = index"
            [ngClass]="{ active: item === discountGoods[0] }"
            class="gray"
          ></button>
        </div>
        <div class="carousel-inner">
          <div
            routerLink="/goods/item/{{ item.id }}"
            class="carousel-item car-img"
            [ngClass]="{ active: item === discountGoods[0] }"
            *ngFor="let item of discountGoods"
          >
            <img
              src="{{ item.imageUrls[0] }}"
              class="d-block w-100"
              alt="{{ item.name }}"
            />
          </div>
        </div>
        <button
          class="carousel-control-prev"
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button
          class="carousel-control-next"
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div
        id="carouselExampleIndicators2"
        class="carousel slide carousel2"
        data-bs-ride="carousel"
      >
        <div class="carousel-indicators">
          <button
            type="button"
            data-bs-target="#carouselExampleIndicators2"
            [attr.data-bs-slide-to]="n"
            *ngFor="let item of popularGoodsBySix; let n = index"
            [ngClass]="{ active: item === popularGoodsBySix[0] }"
            class="gray"
          ></button>
        </div>
        <div class="carousel-inner">
          <div
            class="carousel-item"
            [ngClass]="{ active: item === popularGoodsBySix[0] }"
            *ngFor="let item of popularGoodsBySix"
          >
            <div class="d-flex flex-wrap">
              <div class="bigSlide" *ngFor="let i of item">
                <img src="{{ i.imageUrls[0] }}" alt="{{ i.name }}" class="bigSlide-img" />
                <div class="bigSlide-cnt">
                  <a routerLink="/goods/item/{{ i.id }}">{{ i.name | slice: 0:35 }}</a>
                  <div class="my-1">
                    <img src="../../../assets/i-rate-filled.svg" alt="star" /><img
                      src="../../../assets/i-rate-filled.svg"
                      alt="star"
                    /><img src="../../../assets/i-rate-filled.svg" alt="star" /><img
                      src="../../../assets/i-rate-filled.svg"
                      alt="star"
                    /><img src="../../../assets/i-rate-filled.svg" alt="star" />
                  </div>
                  <div>{{ i.price | currency: "BYN":"бел. рублей" }}</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <button
          class="carousel-control-prev"
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button
          class="carousel-control-next"
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
  </div>
</div>
